---
import Layout from "../layouts/Layout.astro";

---

<Layout title="FruityEva-About">
    <!--MAIN  CONTAINER start-->
    <div
      class="grid grid-cols-1 items-center w-5/6 m-auto lg:grid-cols-2 2xl:p-10"
    >
      <div class="m-10 ml-auto h-auto mr-auto w-4/6 sm:w-3/6 mt-32">
        <img
          class="w-full m-auto border shadow-2xl"
          src="author/nice.jpg"
          alt="FruityEva"
        />
      </div>

      <div class="lg:mt-20 lg:ml-10 w-full lg:w-4/6 ml-auto mr-auto">
        <h2
          class="pt-20 text-5xl font-bold border-b-2 w-5/6 2xl:3/6 border-palette2-three mb-6"
        >
          About Me
        </h2>
        <h4 class="text-palette2-text text-center text-2xl">
          "If you want to create the life you are dreaming of; you are at the
          perfect place!".
        </h4>
        <br />
        <p>
          Many years ago, I was struggling with eating disorders. I was
          searching for endless information and different diets to help me
          regain my happiness and wellbeing.
        </p>
        <br />
        <h4 class="text-palette2-text text-center text-2xl">
          I was done with pretending and struggling!
        </h4>
        <br />
        <p>
          Done with following the accepted and expected path or hoping and
          wishing that one day my life would be different. I knew I was meant to
          thrive and be excited when waking up in the morning because I enjoyed
          life.
        </p>
        <br />
        <h4 class="text-palette2-text text-center text-2xl">
          "I wanted to say „YES!“ to my dreams!"
        </h4>
        <br />
      </div>
    </div>
    <div class="m-auto text-center">
      <i class="fas fa-4x text-palette-three fa-caret-down"></i>
    </div>

    <div class="grid grid-cols-1 lg:grid-cols-2 p-10 lg:p-20 items-center">
      <div class="p-4 w-full lg:w-4/6 ml-auto mr-auto">
        <h2
          class="text-5xl font-bold border-b-2 w-5/6 lg:w-3/6 border-palette2-three mb-6"
        ></h2>
        <p>
          The journey of starting a vegan and later a fruit-based lifestyle has
          transformed my whole life (relationships, money, and the countries I
          live in). It has allowed me to be my authentic self and step into my
          power. <br />
          I started to feel good about myself and started to face the fears that
          had been holding me back for too long.
        </p>
        <br />
        <h4 class="text-palette2-text text-center text-2xl">
          "I’m now free to create the life I am meant to be living."
        </h4>
        <br />
        <p>
          I see how people’s lives and health transforms after going fruit-based
          vegan and it is truly astonishing. Clearer skin, weight loss,
          happiness more maturity and balance, better relationships, more
          traveling, and feeling more confident in who they are are just some of
          the effects that a fruit-based vegan lifestyle can create.
        </p>
        <br />
        <h4 class="text-palette2-text text-center text-2xl">
          "This is possible for you too! And I’m going to show you how."
        </h4>
        <br />
      </div>

      <div class="lg:m-5 m-auto w-full sm:w-3/6 lg:w-4/6 border-2 shadow-2xl">
        <img
          class="w-full"
          src="author/evacomputer.jpg"
          alt="FruityEva"
        />
      </div>
    </div>

    <div class="m-auto text-center">
      <i class="fas fa-4x text-palette-three fa-caret-down"></i>
    </div>

    <div
      class="grid grid-cols-1 lg:grid-cols-2 gap-5 w-5/6 lg:w-4/6 m-auto text-cente"
    >
      <div class="hidden lg:block m-auto lg:w-5/6 text-center p-5 self-end">
        <img
          class="border-2 shadow-2xl w-full"
          src="aboutFruit.jpeg"
          alt="Papaya Fruit"
        />
      </div>
      <ul
        class="flex border shadow-xl m-1 border-palette2-three flex-col gap-2 text-left text-xl p-5 mb-5 leading-5 mt-10"
      >
        <h3 class="text-3xl pb-10 underline">5 Facts About Me</h3>
        <li class="pb-5">
          <p class="font-bold">1. What’s my zodiac sign?</p>
          Gemelli
        </li>
        <li class="pb-5">
          <p class="font-bold">2. How would I describe myself?</p>
          Funny, kind, determined
        </li>
        <li class="pb-5">
          <p class="font-bold">3. My favorite song?</p>
          Circles by Post Malone
        </li>
        <li class="pb-5">
          <p class="font-bold">4. What is my favorite hobby?</p>
          Dancing
        </li>
        <li class="pb-5">
          <p class="font-bold">5. Most important message?</p>
          Go fruit-based vegan.
        </li>
      </ul>
    </div>
    <!--MAIN  CONTAINER finish-->
