---
import Layout from "../layouts/Layout.astro";
import { MySwiper } from "../components/MySwiper.jsx";
---

<Layout title="Ebooks">
  <!--Ebooks-->
  <div class="mt-32 xl:w-5/6 m-auto">
    <h2 class="text-center font-bold font-textPrimary text-7xl mb-10">
      My Ebooks
    </h2>

    <div class="flex flex-wrap sm:gap-4">
      <section class="mb-20 m-auto overflow-hidden">
        <div
          class="rounded overflow-hidden shadow-md relative pt-10 m-auto w-full border-2 pb-10"
        >
          <div class="w-full md:w-3/4 max-w-lg m-auto">
            <div class="text-center text-lg pb-5 pt-5 text-gray-600">
              <h3 class="text-xl lg:text-3xl sm:text-2xl w-full text-center pb-5 astro-W53KLJ2H">Raw Vegan Smoothie Recipes</h3>
            </div>
          </div>
          <MySwiper
            slidesData={[
              {
                srcPath: "ebooks/Favourite Raw Vegan Recipes/1.png",
                altDes: "Ebook-Favourite Raw Vegan Recipes",
              },
              {
                srcPath: "ebooks/Favourite Raw Vegan Recipes/2.png",
                altDes: "Ebook-Favourite Raw Vegan Recipes",
              },
              {
                srcPath: "ebooks/Favourite Raw Vegan Recipes/12.png",
                altDes: "Ebook-Favourite Raw Vegan Recipes",
              },
              {
                srcPath: "ebooks/Favourite Raw Vegan Recipes/28.png",
                altDes: "Ebook-Favourite Raw Vegan Recipes",
              },
              {
                srcPath: "ebooks/Favourite Raw Vegan Recipes/65.png",
                altDes: "Ebook-Favourite Raw Vegan Recipes",
              },
            ]}
            client:load
          />
          <div class="w-full md:w-3/4 max-w-lg text-center m-auto mt-8">
            <a
              class="hover:opacity-80 bg-palette-four pr-5 pl-5 p-2 sm:pr-10 sm:pl-10 sm:p-5 shadow-2xl rounded-3xl border-2"
              target="_blank"
              href="https://payhip.com/b/myFBJ"
            >
              <button class="p-4 text-white font-bold text-3xl"
                >Get it Here!</button
              ></a
            >
          </div>
        </div>
      </section>

      <section class="mb-20 m-auto overflow-hidden">
        <div
          class="rounded overflow-hidden shadow-md relative pt-10 m-auto border-2 pb-10"
        >
          <div class="w-3/4 max-w-lg m-auto">
            <div class="text-center text-lg pt-5 pb-5 text-gray-600">
              <h3 class="text-xl lg:text-3xl sm:text-2xl w-full text-center pb-5 astro-W53KLJ2H">Favourite Raw Vegan Recipes</h3>
            </div>
          </div>
          <MySwiper
            slidesData={[
              {
                srcPath: "ebooks/2.0SmoothieRecipeRawVegan/1.png",
                altDes: "Ebook-Smoothie Recipe Raw Vegan",
              },
              {
                srcPath: "ebooks/2.0SmoothieRecipeRawVegan/3.png",
                altDes: "Ebook-Smoothie Recipe Raw Vegan",
              },
              {
                srcPath: "ebooks/2.0SmoothieRecipeRawVegan/18.png",
                altDes: "Ebook-Smoothie Recipe Raw Vegan",
              },
              {
                srcPath: "ebooks/2.0SmoothieRecipeRawVegan/32.png",
                altDes: "Ebook-Smoothie Recipe Raw Vegan",
              },
              {
                srcPath: "ebooks/2.0SmoothieRecipeRawVegan/43.png",
                altDes: "Ebook-Smoothie Recipe Raw Vegan",
              },
            ]}
            client:load
          />
          <div class="w-3/4 max-w-lg text-center m-auto mt-8">
            <a
              class="hover:opacity-80 bg-palette-four pr-5 pl-5 p-2 sm:pr-10 sm:pl-10 sm:p-5 shadow-2xl rounded-3xl border-2"
              target="_blank"
              href="https://payhip.com/b/AGaS"
            >
              <button class="p-4 text-white font-bold text-3xl"
                >Get it Here!</button
              ></a
            >
          </div>
        </div>
      </section>

      <section class="mb-20 m-auto overflow-hidden">
        <div
          class="rounded overflow-hidden shadow-md relative pt-10 m-auto border-2 pb-10"
        >
          <div class="w-3/4 max-w-lg m-auto">
            <div class="text-center text-lg pt-5 pb-5 text-gray-600">
              <h3 class="text-xl lg:text-3xl sm:text-2xl w-full text-center pb-5 astro-W53KLJ2H">Gourmet Raw Vegan Recipes</h3>
            </div>
          </div>
          <MySwiper
            slidesData={[
              {
                srcPath: "ebooks/GourmetRawVeganRecipes/CoverGourmetRawVeganRecipes.jpg",
                altDes: "Gourmet Raw Vegan Recipes",
              },
              {
                srcPath: "ebooks/GourmetRawVeganRecipes/2.pageGourmetRawVeganRecipe.jpg",
                altDes: "Gourmet Raw Vegan Recipes",
              },
              {
                srcPath: "ebooks/GourmetRawVeganRecipes/3.pageGourmetRawVeganRecipe.jpg",
                altDes: "Gourmet Raw Vegan Recipes",
              },
              {
                srcPath: "ebooks/GourmetRawVeganRecipes/4.pictureGourmetRawVeganRecipe.jpg",
                altDes: "Gourmet Raw Vegan Recipes",
              },
              {
                srcPath: "ebooks/GourmetRawVeganRecipes/5.pictureGourmetRawVeganRecipe.jpg",
                altDes: "Gourmet Raw Vegan Recipes",
              },
            ]}
            client:load
          />
          <div class="w-3/4 max-w-lg text-center m-auto mt-8">
            <a
              class="hover:opacity-80 bg-palette-four pr-5 pl-5 p-2 sm:pr-10 sm:pl-10 sm:p-5 shadow-2xl rounded-3xl border-2"
              target="_blank"
              href="https://payhip.com/b/Ea5Kv"
            >
              <button class="p-4 text-white font-bold text-3xl"
                >Get it Here!</button
              ></a
            >
          </div>
        </div>
      </section>
    </div>
  </div>
</Layout>
