---
---

<script>
  import { fade } from "astro:transitions";

  const button = document.getElementById("btnExpandContent" || "btnSwitchMenu");
  const btnOpenMenu = document.getElementById("switchButtom");
  const movileMenuSection = document.getElementById("MobileNavContainer");

  function switchHidden() {
    document.querySelector("#MobileNavContainer").classList.toggle("hidden");
  }

  function closeMenu() {
    movileMenuSection.addEventListener("mouseover", () => {
      document.querySelector("#MobileNavContainer").classList.remove("hidden");
    });

    movileMenuSection.addEventListener("mouseout", () => {
      document.querySelector("#MobileNavContainer").classList.add("hidden");
    });
  }

  function ver(n) {
    document.getElementById("subseccion" + n).style.display = "block";
  }

  function ocultar(n) {
    document.getElementById("subseccion" + n).style.display = "none";
  }

  // Handle clicks on each button.
  button.addEventListener("mouseover", () => {
    ver(1);
  });

  button.addEventListener("mouseout", () => {
    ocultar(1);
  });

  // Open Menu Movile
  btnOpenMenu.addEventListener("click", () => {
    switchHidden();
  });

  movileMenuSection.addEventListener("mouseout", () => {
    closeMenu();
  });
</script>

<!-- FOR MOBILE-->
<div class="z-50 fixed bg-palette2-one text-palette2-text w-full top-0">
  <div class="flex justify-between mb-4">
    <div class="flex pt-2 flex-col ml-5 justify-start items-left">
      <a href="/">
        <img
          class="w-full"
          style="max-width: 280px"
          src="/logoEn.png"
          alt="logo fruityeva"
        />
      </a>
    </div>
    <button id="switchButtom">
      <i class="fas fa-2x fa-bars mr-3.5"></i>
    </button>
  </div>
  <div
    id="MobileNavContainer"
    class="hidden w-screen m-auto bg-gray-200 bg-transparent"
  >
    <nav class="flex flex-col pt-6 text-2xl pb-8 text-center">
      <a
        class="transition w-screen hover:bg-palette-three hover:text-white"
        href="">Home</a
      >
      <li class="cursor-pointer list-none" id="btnSwitchMenu">
        Products
        <ul id="subseccion2" class="m-auto text-lg">
          <li>
            <a
              class="transition w-screen border-b hover:border-palette-three active:opacity-75"
              href="program">Programs</a
            >
          </li>
          <li>
            <a
              class="transition w-screen border-b hover:border-palette-three active:opacity-75"
              href="ebook">Ebooks</a
            >
          </li>
          <li>
            <a
              class="transition w-screen border-b hover:border-palette-three active:opacity-75"
              href="recommendation">Recommendations</a
            >
          </li>
        </ul>
      </li>

      <a
        class="transition w-screen hover:bg-palette-three hover:text-white"
        href="free">Free</a
      >
      <a
        class="transition w-screen hover:bg-palette-three hover:text-white"
        href="about">About</a
      >
      <div class="flex justify-center mt-5 gap-4">
        <a href="de/home">
          <img
            class="flags"
            src="/Flag-of-Germany.svg"
            aria-hidden="true"
            role="img"
            width="40"
            height="24"
            alt="Flag-of-Germany"
          /></a
        >
        <a href="">
          <img
            class="flags"
            src="/US-UK_Flag.svg"
            aria-hidden="true"
            role="img"
            width="40"
            height="24"
            alt="US-UK-Flag"
          /></a
        >
      </div>
    </nav>
  </div>
</div>
<!--FOr other devides-->
<div
  class="hidden sm:flex justify-evenly flex-row z-50 fixed bg-palette2-one text-palette2-text w-full top-0"
>
  <div class="flex justify-center items-center pl-5 gap-4">
    <a href="/" class="hover:opacity-40">
      <img
        class="rounded-full border"
        src="/US-UK_Flag.svg"
        aria-hidden="true"
        role="img"
        width="40"
        height="25"
        alt="US-UK-Flag"
      />
    </a>
    <a href="de/home" class="hover:opacity-40">
      <img
        class="rounded-full border"
        src="/Flag-of-Germany.svg"
        aria-hidden="true"
        role="img"
        width="40"
        height="25"
        alt="Flag-of-Germany"
      />
    </a>
  </div>

  <div class="flex items-center justify-center">
    <a class="2xl:w-full h-full sm:w-4/6 md:w-5/6" href="/">
      <img
        class="w-full"
        style="max-width: 380px"
        src="/logoEn.png"
        alt="logo fruityeva"
      />
    </a>
  </div>
  <nav
    class="pt-6 sm:mr-3 xl:mr-0 space-x-5 text-lg md:text-xl lg:text-2xl mb-4 text-center"
  >
    <ul class="flex sm:gap-3 lg:gap-5 text-center m-auto">
      <li>
        <a
          class="transition w-screen border-b-2 hover:border-palette-three active:opacity-75"
          href="/">Home</a
        >
      </li>
      <li class="cursor-pointer" id="btnExpandContent">
        Products
        <ul id="subseccion1" class="text-left absolute hidden text-lg bg-white">
          <li>
            <a
              class="transition w-screen border-b-2 hover:border-palette-three active:opacity-75"
              href="ebook">Ebooks</a
            >
          </li>
          <li>
            <a
              class="transition w-screen border-b hover:border-palette-three active:opacity-75"
              href="program">Programs</a
            >
          </li>
          <li>
            <a
              class="transition w-screen border-b-2 hover:border-palette-three active:opacity-75"
              href="recommendation">Recommendations</a
            >
          </li>
        </ul>
      </li>
      <li>
        <a
          class="transition w-screen border-b-2 hover:border-palette-three active:opacity-75"
          href="free">Free</a
        >
      </li>
      <li>
        <a
          class="transition w-screen border-b-2 hover:border-palette-three active:opacity-75"
          href="about">About</a
        >
      </li>
    </ul>
  </nav>
</div>

<style>
  .link-card {
    list-style: none;
    display: flex;
    padding: 1px;
    background-color: #23262d;
    background-image: none;
    background-size: 400%;
    border-radius: 7px;
    background-position: 100%;
    transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  }
  .link-card > a {
    width: 100%;
    text-decoration: none;
    line-height: 1.4;
    padding: calc(1.5rem - 1px);
    border-radius: 8px;
    color: white;
    background-color: #23262d;
    opacity: 0.8;
  }
  h2 {
    margin: 0;
    font-size: 1.25rem;
    transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  }
  p {
    margin-top: 0.5rem;
    margin-bottom: 0;
  }
  .link-card:is(:hover, :focus-within) {
    background-position: 0;
    background-image: var(--accent-gradient);
  }
  .link-card:is(:hover, :focus-within) h2 {
    color: rgb(var(--accent-light));
  }
</style>
