---
import LayoutDe from "../../layouts/Layout_de.astro";
import { MySwiper } from "../../components/MySwiper";

import smoothie1 from "../../img/ebooks/2.0SmoothieRezepte/1.png";
import smoothie2 from "../../img/ebooks/2.0SmoothieRezepte/3.png";
import smoothie3 from "../../img/ebooks/2.0SmoothieRezepte/5.png";
import smoothie4 from "../../img/ebooks/2.0SmoothieRezepte/18.png";
import smoothie5 from "../../img/ebooks/2.0SmoothieRezepte/30.png";

import liebste1 from "../../img/ebooks/Liebste Rohkost Rezepte/1.png";
import liebste2 from "../../img/ebooks/Liebste Rohkost Rezepte/3.png";
import liebste3 from "../../img/ebooks/Liebste Rohkost Rezepte/10.png";
import liebste4 from "../../img/ebooks/Liebste Rohkost Rezepte/26.png";
import liebste5 from "../../img/ebooks/Liebste Rohkost Rezepte/49.png";

import gourmet1 from "../../img/ebooks/GourmetRohkostRezepte/CoverGourmetRohkostRezepte.jpg";
import gourmet2 from "../../img/ebooks/GourmetRohkostRezepte/2.pageGourmetRohkostRezepte.jpg";
import gourmet3 from "../../img/ebooks/GourmetRohkostRezepte/3.pageGourmetRohkostRezepte.jpg";
import gourmet4 from "../../img/ebooks/GourmetRohkostRezepte/4.pageGourmetRohkostRezepte.jpg";
import gourmet5 from "../../img/ebooks/GourmetRohkostRezepte/5.pageGourmetRohkostRezepte.jpg";

const gourmetBookImgs = [gourmet1, gourmet2, gourmet3, gourmet4, gourmet5];
const smoothieBookImgs = [
  smoothie1,
  smoothie2,
  smoothie3,
  smoothie4,
  smoothie5,
];
const liebsteRohkosImgs = [liebste1, liebste2, liebste3, liebste4, liebste5];
---

<LayoutDe title="Ebook">
  <!--Ebooks-->
  <div class="mt-32 xl:w-5/6 m-auto">
    <h2 class="text-center font-bold font-textPrimary text-7xl mb-10">
      Meine Ebooks
    </h2>

    <div class="flex flex-wrap sm:gap-4">
      <section class="mb-20 m-auto overflow-hidden">
        <div
          class="rounded overflow-hidden shadow-md relative pt-10 m-auto w-full border-2 pb-10"
        >
          <div class="w-full md:w-3/4 max-w-lg m-auto">
            <div class="text-center text-lg pb-5 pt-5 text-gray-600">
              <h3
                class="text-xl lg:text-3xl sm:text-2xl w-full text-center pb-5 astro-W53KLJ2H"
              >
                Rohkost Smoothie Rezepte
              </h3>
            </div>
          </div>

          <MySwiper
            swiperName="Ebook-Smoothie Rezepte Raw Vegan"
            slidesData={[...smoothieBookImgs]}
          />

          <div class="w-full md:w-3/4 max-w-lg text-center m-auto mt-8">
            <a
              class="hover:opacity-80 bg-palette-four pr-5 pl-5 p-2 sm:pr-10 sm:pl-10 sm:p-5 shadow-2xl rounded-3xl border-2"
              target="_blank"
              href="https://payhip.com/b/OMpW9"
            >
              <button class="p-4 text-white font-bold text-3xl">
                Get it Here!
              </button></a
            >
          </div>
        </div>
      </section>

      <section class="mb-20 m-auto overflow-hidden">
        <div
          class="rounded overflow-hidden shadow-md relative pt-10 m-auto border-2 pb-10"
        >
          <div class="w-3/4 max-w-lg m-auto">
            <div class="text-center text-lg pt-5 pb-5 text-gray-600">
              <h3
                class="text-xl lg:text-3xl sm:text-2xl w-full text-center pb-5 astro-W53KLJ2H"
              >
                Leckerste Rohkost Rezepte
              </h3>
            </div>
          </div>

          <MySwiper
            swiperName="Liebste Rohkost Rezeptes"
            slidesData={[...liebsteRohkosImgs]}
          />

          <div class="w-3/4 max-w-lg text-center m-auto mt-8">
            <a
              class="hover:opacity-80 bg-palette-four pr-5 pl-5 p-2 sm:pr-10 sm:pl-10 sm:p-5 shadow-2xl rounded-3xl border-2"
              target="_blank"
              href="https://payhip.com/b/3Ch9"
            >
              <button class="p-4 text-white font-bold text-3xl">
                Get it Here!
              </button></a
            >
          </div>
        </div>
      </section>

      <section class="mb-20 m-auto overflow-hidden">
        <div
          class="rounded overflow-hidden shadow-md relative pt-10 m-auto border-2 pb-10"
        >
          <div class="w-3/4 max-w-lg m-auto">
            <div class="text-center text-lg pt-5 pb-5 text-gray-600">
              <h3
                class="text-xl lg:text-3xl sm:text-2xl w-full text-center pb-5 astro-W53KLJ2H"
              >
                Gourmet Rohkost Rezepte
              </h3>
            </div>
          </div>

          <MySwiper
            swiperName="Gourmet Rohkost Rezepte"
            slidesData={[...gourmetBookImgs]}
          />

          <div class="w-3/4 max-w-lg text-center m-auto mt-8">
            <a
              class="hover:opacity-80 bg-palette-four pr-5 pl-5 p-2 sm:pr-10 sm:pl-10 sm:p-5 shadow-2xl rounded-3xl border-2"
              target="_blank"
              href="https://payhip.com/b/QgoTX"
            >
              <button class="p-4 text-white font-bold text-3xl">
                Get it Here!
              </button></a
            >
          </div>
        </div>
      </section>
    </div>
  </div>
</LayoutDe>
