---
import LayoutDe from "../../layouts/Layout_de.astro";
import kitrecomm1 from "../../img/kitrecomm1.webp";
import kitrecomm2 from "../../img/kitrecomm2.webp";
---

<LayoutDe title="Home">
  <section class="mt-32 mb-20 m-auto">
    <div
      class="rounded overflow-hidden shadow-md relative pt-10 m-auto lg:w-2/4 border-4 pb-10"
    >
      <div class="w-3/4 max-w-lg m-auto">
        <h3
          class="text-2xl font-bold lg:text-5xl sm:text-3xl w-full text-center pb-5"
        >
          Empfehlungen
        </h3>
        <p class="text-xl lg:text-2xl text-center">
          Ich teile mit euch meine liebsten Produkte, die mir halfen, mehr
          Gesundheit und Wohlbefinden zu kreieren.
        </p>
      </div>

      <div class="w-3/4 max-w-md m-auto swiper mt-10 mySwiper">
        <div class="swiper-wrapper">
          <div class="border grid grid-cols-2 gap-5">
            <img
              class="w-full rounded-2xl border-palette2-two shadow-2xl"
              src={kitrecomm1}
              alt="raw-bite"
            />
            <img
              class="w-full rounded-2xl border-palette2-two shadow-2xl"
              src={kitrecomm2}
              alt="blender"
            />
          </div>
        </div>

        <div class="w-3/4 max-w-lg text-center m-auto mt-8">
          <a
            class="hover:opacity-80 bg-palette-four pr-5 pl-5 p-2 sm:pr-10 sm:pl-10 sm:p-5 shadow-2xl rounded-3xl border-2"
            target="_blank"
            href="https://kit.co/Fruityeva"
          >
            <button class="p-4 text-white font-bold text-3xl">Tap Here!</button
            ></a
          >
        </div>
      </div>
    </div>
  </section>
</LayoutDe>
