<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Fruity Eva</title>
  <meta name="title" content="Fruity Eva" />
  <meta name="description" content="Helping you to improve your health with a fruit-based vegan diet." />
  <meta name="keywords" content="fruit, vegan, diet" />
  <meta name="robots" content="index, follow" />
  <meta name="language" content="German" />
  <meta name="author" content="jdluis.com" />

  <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon" />
  <link rel="icon" href="../img/favicon.ico" type="image/x-icon" />

  <!--Styles-->
  <link rel="stylesheet" href="../style.css" />

  <script src="https://kit.fontawesome.com/3ffbeed2f4.js" crossorigin="anonymous"></script>

  <style>
    /*Aside Hover Nav*/
    .ahover {
      border-bottom: 2px solid #f46f72;
      width: 0;
      transition: ease-in;
    }

    .ahover:hover {
      width: 80%;
      transition-duration: 0.3s;
    }

    /*textAnimate STYLES*/
    span {
      opacity: 0;
      transition: all 4s ease;
    }

    span.fade {
      opacity: 1;
    }
  </style>
</head>

<body class="bg-gray-50 font-textPrimary p-0 m-0">
  <!-- FOR MOBILE-->
  <div class="z-50 fixed bg-palette2-one text-palette2-text w-full top-0">
    <div class="flex justify-between mb-4">
      <div class="flex pt-2 flex-col ml-5 justify-start items-left">
        <a href="home.html">
          <img class="w-full" style="max-width: 280px" src="../img/logoDe.png" alt="logo fruityeva" />
        </a>
      </div>
      <button onclick="switchHidden()" id="switchButtom">
        <i class="fas fa-2x fa-bars mr-3.5"></i>
      </button>
    </div>
    <div id="MobileNavContainer" class="hidden w-screen m-auto bg-gray-200 bg-transparent">
      <nav class="flex flex-col pt-6 text-2xl pb-8 text-center">
        <a class="transition w-screen hover:bg-palette-three hover:text-white" href="home.html">Home</a>
        <li class="cursor-pointer list-none" onmouseover="ver(1)" onmouseout="ocultar(1)">
          Produkte
          <ul id="subseccion2" class="m-auto text-lg">
            <li>
              <a class="transition w-screen border-b hover:border-palette-three active:opacity-75"
                href="ebook.html">Ebooks</a>
            </li>
            <li>
              <a class="transition w-screen border-b hover:border-palette-three active:opacity-75"
                href="empfehlungen.html">Empfehlungen</a>
            </li>
          </ul>
        </li>

        <a class="transition w-screen hover:bg-palette-three hover:text-white" href="kostenlos.html">Kostenlos</a>
        <a class="transition w-screen hover:bg-palette-three hover:text-white" href="uber.html">칖ber</a>
        <div class="flex justify-center mt-5 gap-4">
          <a href="https://www.fruityeva.com/de/home">
            <img class="flags" src="../img/Flag-of-Germany.svg" aria-hidden="true" role="img" width="40" height="24"
              preserveAspectRatio="xMidYMid meet" viewBox="0 0 64 64" alt="Flag-of-Germany" /></a>
          <a href="https://www.fruityeva.com">
            <img class="flags" src="../img/US-UK_Flag.svg" aria-hidden="true" role="img" width="40" height="24"
              preserveAspectRatio="xMidYMid meet" viewBox="0 0 64 64" alt="US-UK-Flag" /></a>
        </div>
      </nav>
    </div>
  </div>
  <!--FOr other devides-->
  <div class="hidden sm:flex justify-evenly flex-row z-50 fixed bg-palette2-one text-palette2-text w-full top-0">
    <div class="flex justify-center items-center pl-5 gap-4">
      <a href="https://www.fruityeva.com" class="hover:opacity-40">
        <img class="rounded-full border" src="../img/US-UK_Flag.svg" aria-hidden="true" role="img" width="40"
          height="25" preserveAspectRatio="xMidYMid meet" viewBox="0 0 64 64" alt="US-UK-Flag" />
      </a>
      <a href="https://www.fruityeva.com/de/home" class="hover:opacity-40">
        <img class="rounded-full border" src="../img/Flag-of-Germany.svg" aria-hidden="true" role="img" width="40"
          height="25" preserveAspectRatio="xMidYMid meet" viewBox="0 0 64 64" alt="Flag-of-Germany" />
      </a>
    </div>

    <div class="flex items-center justify-center">
      <a class="2xl:w-full sm:w-4/6 md:w-5/6" href="home.html">
        <img class="w-full" style="max-width: 380px" src="../img/logoDe.png" alt="logo fruityeva" />
      </a>
    </div>
    <nav class="pt-6 sm:mr-3 xl:mr-0 space-x-5 text-lg md:text-xl lg:text-2xl mb-4 text-center">
      <ul class="flex sm:gap-3 lg:gap-5 text-center m-auto">
        <li>
          <a class="transition w-screen border-b-2 hover:border-palette-three active:opacity-75"
            href="home.html">Home</a>
        </li>
        <li class="cursor-pointer" onmouseover="ver(1)" onmouseout="ocultar(1)">
          Produkte
          <ul id="subseccion1" class="hidden text-left absolute text-lg bg-white">
            <li>
              <a class="transition w-screen border-b-2 hover:border-palette-three active:opacity-75"
                href="ebook.html">Ebooks</a>
            </li>
            <li>
              <a class="transition w-screen border-b-2 hover:border-palette-three active:opacity-75"
                href="empfehlungen.html">Empfehlungen</a>
            </li>
          </ul>
        </li>
        <li>
          <a class="transition w-screen border-b-2 hover:border-palette-three active:opacity-75"
            href="kostenlos.html">Kostenlos</a>
        </li>
        <li>
          <a class="transition w-screen border-b-2 hover:border-palette-three active:opacity-75"
            href="uber.html">칖ber</a>
        </li>
      </ul>
    </nav>
  </div>

  <!--MAIN CONTAINER-->
  <section class="grid-cols-1 grid lg:grid-cols-2 mt-40 ml-auto mr-auto mb-20">
    <div id="about" class="m-3 border-l-4 border-t-4 shadow-2xl border-gray-300 max-w-lg sm:m-auto">
      <img class="w-full" src="../img/author/evaMain.jpg" alt="FruityEva" />
    </div>

    <div class="flex flex-col mt-5 ml-10 mr-10">
      <h1
        class="textAnimate text-left font-textPrimary text-palette2-text font-semibold text-4xl md:text-6xl lg:text-8xl">
        Hi, Ich bin Eva.
      </h1>
      <h5 class="pt-8 text-xl md:text-2xl lg:text-4xl">
        Sch칬n, dass du da bist!
      </h5>
      <p class="text-xl">
        <br />
        Ich kann es kaum erwarten, mit euch zu teilen, wie ich mit einem
        obst-basierten veganen Lebensstil bessere Haut bekam und leichter
        abnehmen konnte!
        <a href="uber.html" class="btn text-lg lg:text-xl hover:opacity-40">Mehr 칲ber mich...</a>
      </p>
      <div class="mt-10 lg:mt-20 text-left font-extrabold text-xl md:text-2xl xl:text-3xl text-black">
        <p class="border-b-2 opacity-40 w-4/5">
          "Du kannst alles erreichen, was du dir vornimmst."
        </p>
      </div>
    </div>
  </section>

  <article class="mt-24">
    <h3 class="mb-10 text-center text-4xl lg:text-6xl text-palette2-two font-bold underline">
      Instagram
    </h3>
    <div
      class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 card sm:p-5 w-full md:w-3/5 lg:w-4/5 sm:gap-6 lg:gap-14 xl:gap-16 m-auto items-center">
      <div class="hidden sm:block m-auto">
        <blockquote class="instagram-media"
          data-instgrm-permalink="https://www.instagram.com/p/CVtbXOLqd-O/?utm_source=ig_embed&amp;utm_campaign=loading"
          data-instgrm-version="14" style="
              background: #fff;
              border: 0;
              border-radius: 3px;
              box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5),
                0 1px 10px 0 rgba(0, 0, 0, 0.15);
              margin: 1px;
              max-width: 540px;
              min-width: 326px;
              padding: 0;
              width: 99.375%;
              width: -webkit-calc(100% - 2px);
              width: calc(100% - 2px);
            ">
          <div style="padding: 16px">
            <a href="https://www.instagram.com/p/CVtbXOLqd-O/?utm_source=ig_embed&amp;utm_campaign=loading" style="
                  background: #ffffff;
                  line-height: 0;
                  padding: 0 0;
                  text-align: center;
                  text-decoration: none;
                  width: 100%;
                " target="_blank">
              <div style="
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                  ">
                <div style="
                      background-color: #f4f4f4;
                      border-radius: 50%;
                      flex-grow: 0;
                      height: 40px;
                      margin-right: 14px;
                      width: 40px;
                    "></div>
                <div style="
                      display: flex;
                      flex-direction: column;
                      flex-grow: 1;
                      justify-content: center;
                    ">
                  <div style="
                        background-color: #f4f4f4;
                        border-radius: 4px;
                        flex-grow: 0;
                        height: 14px;
                        margin-bottom: 6px;
                        width: 100px;
                      "></div>
                  <div style="
                        background-color: #f4f4f4;
                        border-radius: 4px;
                        flex-grow: 0;
                        height: 14px;
                        width: 60px;
                      "></div>
                </div>
              </div>
              <div style="padding: 19% 0"></div>
              <div style="
                    display: block;
                    height: 50px;
                    margin: 0 auto 12px;
                    width: 50px;
                  ">
                <svg width="50px" height="50px" viewBox="0 0 60 60" version="1.1" xmlns="https://www.w3.org/2000/svg"
                  xmlns:xlink="https://www.w3.org/1999/xlink">
                  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g transform="translate(-511.000000, -20.000000)" fill="#000000">
                      <g>
                        <path
                          d="M556.869,30.41 C554.814,30.41 553.148,32.076 553.148,34.131 C553.148,36.186 554.814,37.852 556.869,37.852 C558.924,37.852 560.59,36.186 560.59,34.131 C560.59,32.076 558.924,30.41 556.869,30.41 M541,60.657 C535.114,60.657 530.342,55.887 530.342,50 C530.342,44.114 535.114,39.342 541,39.342 C546.887,39.342 551.658,44.114 551.658,50 C551.658,55.887 546.887,60.657 541,60.657 M541,33.886 C532.1,33.886 524.886,41.1 524.886,50 C524.886,58.899 532.1,66.113 541,66.113 C549.9,66.113 557.115,58.899 557.115,50 C557.115,41.1 549.9,33.886 541,33.886 M565.378,62.101 C565.244,65.022 564.756,66.606 564.346,67.663 C563.803,69.06 563.154,70.057 562.106,71.106 C561.058,72.155 560.06,72.803 558.662,73.347 C557.607,73.757 556.021,74.244 553.102,74.378 C549.944,74.521 548.997,74.552 541,74.552 C533.003,74.552 532.056,74.521 528.898,74.378 C525.979,74.244 524.393,73.757 523.338,73.347 C521.94,72.803 520.942,72.155 519.894,71.106 C518.846,70.057 518.197,69.06 517.654,67.663 C517.244,66.606 516.755,65.022 516.623,62.101 C516.479,58.943 516.448,57.996 516.448,50 C516.448,42.003 516.479,41.056 516.623,37.899 C516.755,34.978 517.244,33.391 517.654,32.338 C518.197,30.938 518.846,29.942 519.894,28.894 C520.942,27.846 521.94,27.196 523.338,26.654 C524.393,26.244 525.979,25.756 528.898,25.623 C532.057,25.479 533.004,25.448 541,25.448 C548.997,25.448 549.943,25.479 553.102,25.623 C556.021,25.756 557.607,26.244 558.662,26.654 C560.06,27.196 561.058,27.846 562.106,28.894 C563.154,29.942 563.803,30.938 564.346,32.338 C564.756,33.391 565.244,34.978 565.378,37.899 C565.522,41.056 565.552,42.003 565.552,50 C565.552,57.996 565.522,58.943 565.378,62.101 M570.82,37.631 C570.674,34.438 570.167,32.258 569.425,30.349 C568.659,28.377 567.633,26.702 565.965,25.035 C564.297,23.368 562.623,22.342 560.652,21.575 C558.743,20.834 556.562,20.326 553.369,20.18 C550.169,20.033 549.148,20 541,20 C532.853,20 531.831,20.033 528.631,20.18 C525.438,20.326 523.257,20.834 521.349,21.575 C519.376,22.342 517.703,23.368 516.035,25.035 C514.368,26.702 513.342,28.377 512.574,30.349 C511.834,32.258 511.326,34.438 511.181,37.631 C511.035,40.831 511,41.851 511,50 C511,58.147 511.035,59.17 511.181,62.369 C511.326,65.562 511.834,67.743 512.574,69.651 C513.342,71.625 514.368,73.296 516.035,74.965 C517.703,76.634 519.376,77.658 521.349,78.425 C523.257,79.167 525.438,79.673 528.631,79.82 C531.831,79.965 532.853,80.001 541,80.001 C549.148,80.001 550.169,79.965 553.369,79.82 C556.562,79.673 558.743,79.167 560.652,78.425 C562.623,77.658 564.297,76.634 565.965,74.965 C567.633,73.296 568.659,71.625 569.425,69.651 C570.167,67.743 570.674,65.562 570.82,62.369 C570.966,59.17 571,58.147 571,50 C571,41.851 570.966,40.831 570.82,37.631">
                        </path>
                      </g>
                    </g>
                  </g>
                </svg>
              </div>
              <div style="padding-top: 8px">
                <div style="
                      color: #3897f0;
                      font-family: Arial, sans-serif;
                      font-size: 14px;
                      font-style: normal;
                      font-weight: 550;
                      line-height: 18px;
                    ">
                  Ver esta publicaci칩n en Instagram
                </div>
              </div>
              <div style="padding: 12.5% 0"></div>
              <div style="
                    display: flex;
                    flex-direction: row;
                    margin-bottom: 14px;
                    align-items: center;
                  ">
                <div>
                  <div style="
                        background-color: #f4f4f4;
                        border-radius: 50%;
                        height: 12.5px;
                        width: 12.5px;
                        transform: translateX(0px) translateY(7px);
                      "></div>
                  <div style="
                        background-color: #f4f4f4;
                        height: 12.5px;
                        transform: rotate(-45deg) translateX(3px)
                          translateY(1px);
                        width: 12.5px;
                        flex-grow: 0;
                        margin-right: 14px;
                        margin-left: 2px;
                      "></div>
                  <div style="
                        background-color: #f4f4f4;
                        border-radius: 50%;
                        height: 12.5px;
                        width: 12.5px;
                        transform: translateX(9px) translateY(-18px);
                      "></div>
                </div>
                <div style="margin-left: 8px">
                  <div style="
                        background-color: #f4f4f4;
                        border-radius: 50%;
                        flex-grow: 0;
                        height: 20px;
                        width: 20px;
                      "></div>
                  <div style="
                        width: 0;
                        height: 0;
                        border-top: 2px solid transparent;
                        border-left: 6px solid #f4f4f4;
                        border-bottom: 2px solid transparent;
                        transform: translateX(16px) translateY(-4px)
                          rotate(30deg);
                      "></div>
                </div>
                <div style="margin-left: auto">
                  <div style="
                        width: 0px;
                        border-top: 8px solid #f4f4f4;
                        border-right: 8px solid transparent;
                        transform: translateY(16px);
                      "></div>
                  <div style="
                        background-color: #f4f4f4;
                        flex-grow: 0;
                        height: 12px;
                        width: 16px;
                        transform: translateY(-4px);
                      "></div>
                  <div style="
                        width: 0;
                        height: 0;
                        border-top: 8px solid #f4f4f4;
                        border-left: 8px solid transparent;
                        transform: translateY(-4px) translateX(8px);
                      "></div>
                </div>
              </div>
              <div style="
                    display: flex;
                    flex-direction: column;
                    flex-grow: 1;
                    justify-content: center;
                    margin-bottom: 24px;
                  ">
                <div style="
                      background-color: #f4f4f4;
                      border-radius: 4px;
                      flex-grow: 0;
                      height: 14px;
                      margin-bottom: 6px;
                      width: 224px;
                    "></div>
                <div style="
                      background-color: #f4f4f4;
                      border-radius: 4px;
                      flex-grow: 0;
                      height: 14px;
                      width: 144px;
                    "></div>
              </div>
            </a>
            <p style="
                  color: #c9c8cd;
                  font-family: Arial, sans-serif;
                  font-size: 14px;
                  line-height: 17px;
                  margin-bottom: 0;
                  margin-top: 8px;
                  overflow: hidden;
                  padding: 8px 0 7px;
                  text-align: center;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                ">
              <a href="https://www.instagram.com/p/CVtbXOLqd-O/?utm_source=ig_embed&amp;utm_campaign=loading" style="
                    color: #c9c8cd;
                    font-family: Arial, sans-serif;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: normal;
                    line-height: 17px;
                    text-decoration: none;
                  " target="_blank">Una publicaci칩n compartida de Fruityeva游꺝 Business
                (@fruityeva)</a>
            </p>
          </div>
        </blockquote>
        <script async src="//www.instagram.com/embed.js"></script>
      </div>

      <div class="m-auto">
        <blockquote class="instagram-media"
          data-instgrm-permalink="https://www.instagram.com/p/CVnOeZRqMcr/?utm_source=ig_embed&amp;utm_campaign=loading"
          data-instgrm-version="14" style="
              background: #fff;
              border: 0;
              border-radius: 3px;
              box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5),
                0 1px 10px 0 rgba(0, 0, 0, 0.15);
              margin: 1px;
              max-width: 540px;
              min-width: 326px;
              padding: 0;
              width: 99.375%;
              width: -webkit-calc(100% - 2px);
              width: calc(100% - 2px);
            ">
          <div style="padding: 16px">
            <a href="https://www.instagram.com/p/CVnOeZRqMcr/?utm_source=ig_embed&amp;utm_campaign=loading" style="
                  background: #ffffff;
                  line-height: 0;
                  padding: 0 0;
                  text-align: center;
                  text-decoration: none;
                  width: 100%;
                " target="_blank">
              <div style="
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                  ">
                <div style="
                      background-color: #f4f4f4;
                      border-radius: 50%;
                      flex-grow: 0;
                      height: 40px;
                      margin-right: 14px;
                      width: 40px;
                    "></div>
                <div style="
                      display: flex;
                      flex-direction: column;
                      flex-grow: 1;
                      justify-content: center;
                    ">
                  <div style="
                        background-color: #f4f4f4;
                        border-radius: 4px;
                        flex-grow: 0;
                        height: 14px;
                        margin-bottom: 6px;
                        width: 100px;
                      "></div>
                  <div style="
                        background-color: #f4f4f4;
                        border-radius: 4px;
                        flex-grow: 0;
                        height: 14px;
                        width: 60px;
                      "></div>
                </div>
              </div>
              <div style="padding: 19% 0"></div>
              <div style="
                    display: block;
                    height: 50px;
                    margin: 0 auto 12px;
                    width: 50px;
                  ">
                <svg width="50px" height="50px" viewBox="0 0 60 60" version="1.1" xmlns="https://www.w3.org/2000/svg"
                  xmlns:xlink="https://www.w3.org/1999/xlink">
                  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g transform="translate(-511.000000, -20.000000)" fill="#000000">
                      <g>
                        <path
                          d="M556.869,30.41 C554.814,30.41 553.148,32.076 553.148,34.131 C553.148,36.186 554.814,37.852 556.869,37.852 C558.924,37.852 560.59,36.186 560.59,34.131 C560.59,32.076 558.924,30.41 556.869,30.41 M541,60.657 C535.114,60.657 530.342,55.887 530.342,50 C530.342,44.114 535.114,39.342 541,39.342 C546.887,39.342 551.658,44.114 551.658,50 C551.658,55.887 546.887,60.657 541,60.657 M541,33.886 C532.1,33.886 524.886,41.1 524.886,50 C524.886,58.899 532.1,66.113 541,66.113 C549.9,66.113 557.115,58.899 557.115,50 C557.115,41.1 549.9,33.886 541,33.886 M565.378,62.101 C565.244,65.022 564.756,66.606 564.346,67.663 C563.803,69.06 563.154,70.057 562.106,71.106 C561.058,72.155 560.06,72.803 558.662,73.347 C557.607,73.757 556.021,74.244 553.102,74.378 C549.944,74.521 548.997,74.552 541,74.552 C533.003,74.552 532.056,74.521 528.898,74.378 C525.979,74.244 524.393,73.757 523.338,73.347 C521.94,72.803 520.942,72.155 519.894,71.106 C518.846,70.057 518.197,69.06 517.654,67.663 C517.244,66.606 516.755,65.022 516.623,62.101 C516.479,58.943 516.448,57.996 516.448,50 C516.448,42.003 516.479,41.056 516.623,37.899 C516.755,34.978 517.244,33.391 517.654,32.338 C518.197,30.938 518.846,29.942 519.894,28.894 C520.942,27.846 521.94,27.196 523.338,26.654 C524.393,26.244 525.979,25.756 528.898,25.623 C532.057,25.479 533.004,25.448 541,25.448 C548.997,25.448 549.943,25.479 553.102,25.623 C556.021,25.756 557.607,26.244 558.662,26.654 C560.06,27.196 561.058,27.846 562.106,28.894 C563.154,29.942 563.803,30.938 564.346,32.338 C564.756,33.391 565.244,34.978 565.378,37.899 C565.522,41.056 565.552,42.003 565.552,50 C565.552,57.996 565.522,58.943 565.378,62.101 M570.82,37.631 C570.674,34.438 570.167,32.258 569.425,30.349 C568.659,28.377 567.633,26.702 565.965,25.035 C564.297,23.368 562.623,22.342 560.652,21.575 C558.743,20.834 556.562,20.326 553.369,20.18 C550.169,20.033 549.148,20 541,20 C532.853,20 531.831,20.033 528.631,20.18 C525.438,20.326 523.257,20.834 521.349,21.575 C519.376,22.342 517.703,23.368 516.035,25.035 C514.368,26.702 513.342,28.377 512.574,30.349 C511.834,32.258 511.326,34.438 511.181,37.631 C511.035,40.831 511,41.851 511,50 C511,58.147 511.035,59.17 511.181,62.369 C511.326,65.562 511.834,67.743 512.574,69.651 C513.342,71.625 514.368,73.296 516.035,74.965 C517.703,76.634 519.376,77.658 521.349,78.425 C523.257,79.167 525.438,79.673 528.631,79.82 C531.831,79.965 532.853,80.001 541,80.001 C549.148,80.001 550.169,79.965 553.369,79.82 C556.562,79.673 558.743,79.167 560.652,78.425 C562.623,77.658 564.297,76.634 565.965,74.965 C567.633,73.296 568.659,71.625 569.425,69.651 C570.167,67.743 570.674,65.562 570.82,62.369 C570.966,59.17 571,58.147 571,50 C571,41.851 570.966,40.831 570.82,37.631">
                        </path>
                      </g>
                    </g>
                  </g>
                </svg>
              </div>
              <div style="padding-top: 8px">
                <div style="
                      color: #3897f0;
                      font-family: Arial, sans-serif;
                      font-size: 14px;
                      font-style: normal;
                      font-weight: 550;
                      line-height: 18px;
                    ">
                  Ver esta publicaci칩n en Instagram
                </div>
              </div>
              <div style="padding: 12.5% 0"></div>
              <div style="
                    display: flex;
                    flex-direction: row;
                    margin-bottom: 14px;
                    align-items: center;
                  ">
                <div>
                  <div style="
                        background-color: #f4f4f4;
                        border-radius: 50%;
                        height: 12.5px;
                        width: 12.5px;
                        transform: translateX(0px) translateY(7px);
                      "></div>
                  <div style="
                        background-color: #f4f4f4;
                        height: 12.5px;
                        transform: rotate(-45deg) translateX(3px)
                          translateY(1px);
                        width: 12.5px;
                        flex-grow: 0;
                        margin-right: 14px;
                        margin-left: 2px;
                      "></div>
                  <div style="
                        background-color: #f4f4f4;
                        border-radius: 50%;
                        height: 12.5px;
                        width: 12.5px;
                        transform: translateX(9px) translateY(-18px);
                      "></div>
                </div>
                <div style="margin-left: 8px">
                  <div style="
                        background-color: #f4f4f4;
                        border-radius: 50%;
                        flex-grow: 0;
                        height: 20px;
                        width: 20px;
                      "></div>
                  <div style="
                        width: 0;
                        height: 0;
                        border-top: 2px solid transparent;
                        border-left: 6px solid #f4f4f4;
                        border-bottom: 2px solid transparent;
                        transform: translateX(16px) translateY(-4px)
                          rotate(30deg);
                      "></div>
                </div>
                <div style="margin-left: auto">
                  <div style="
                        width: 0px;
                        border-top: 8px solid #f4f4f4;
                        border-right: 8px solid transparent;
                        transform: translateY(16px);
                      "></div>
                  <div style="
                        background-color: #f4f4f4;
                        flex-grow: 0;
                        height: 12px;
                        width: 16px;
                        transform: translateY(-4px);
                      "></div>
                  <div style="
                        width: 0;
                        height: 0;
                        border-top: 8px solid #f4f4f4;
                        border-left: 8px solid transparent;
                        transform: translateY(-4px) translateX(8px);
                      "></div>
                </div>
              </div>
              <div style="
                    display: flex;
                    flex-direction: column;
                    flex-grow: 1;
                    justify-content: center;
                    margin-bottom: 24px;
                  ">
                <div style="
                      background-color: #f4f4f4;
                      border-radius: 4px;
                      flex-grow: 0;
                      height: 14px;
                      margin-bottom: 6px;
                      width: 224px;
                    "></div>
                <div style="
                      background-color: #f4f4f4;
                      border-radius: 4px;
                      flex-grow: 0;
                      height: 14px;
                      width: 144px;
                    "></div>
              </div>
            </a>
            <p style="
                  color: #c9c8cd;
                  font-family: Arial, sans-serif;
                  font-size: 14px;
                  line-height: 17px;
                  margin-bottom: 0;
                  margin-top: 8px;
                  overflow: hidden;
                  padding: 8px 0 7px;
                  text-align: center;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                ">
              <a href="https://www.instagram.com/p/CVnOeZRqMcr/?utm_source=ig_embed&amp;utm_campaign=loading" style="
                    color: #c9c8cd;
                    font-family: Arial, sans-serif;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: normal;
                    line-height: 17px;
                    text-decoration: none;
                  " target="_blank">Una publicaci칩n compartida de Fruityeva游꺝 Business
                (@fruityeva)</a>
            </p>
          </div>
        </blockquote>
        <script async src="//www.instagram.com/embed.js"></script>
      </div>

      <div class="m-auto">
        <blockquote class="instagram-media"
          data-instgrm-permalink="https://www.instagram.com/p/CSU6hqNKgc-/?utm_source=ig_embed&amp;utm_campaign=loading"
          data-instgrm-version="14" style="
              background: #fff;
              border: 0;
              border-radius: 3px;
              box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5),
                0 1px 10px 0 rgba(0, 0, 0, 0.15);
              margin: 1px;
              max-width: 540px;
              min-width: 326px;
              padding: 0;
              width: 99.375%;
              width: -webkit-calc(100% - 2px);
              width: calc(100% - 2px);
            ">
          <div style="padding: 16px">
            <a href="https://www.instagram.com/p/CSU6hqNKgc-/?utm_source=ig_embed&amp;utm_campaign=loading" style="
                  background: #ffffff;
                  line-height: 0;
                  padding: 0 0;
                  text-align: center;
                  text-decoration: none;
                  width: 100%;
                " target="_blank">
              <div style="
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                  ">
                <div style="
                      background-color: #f4f4f4;
                      border-radius: 50%;
                      flex-grow: 0;
                      height: 40px;
                      margin-right: 14px;
                      width: 40px;
                    "></div>
                <div style="
                      display: flex;
                      flex-direction: column;
                      flex-grow: 1;
                      justify-content: center;
                    ">
                  <div style="
                        background-color: #f4f4f4;
                        border-radius: 4px;
                        flex-grow: 0;
                        height: 14px;
                        margin-bottom: 6px;
                        width: 100px;
                      "></div>
                  <div style="
                        background-color: #f4f4f4;
                        border-radius: 4px;
                        flex-grow: 0;
                        height: 14px;
                        width: 60px;
                      "></div>
                </div>
              </div>
              <div style="padding: 19% 0"></div>
              <div style="
                    display: block;
                    height: 50px;
                    margin: 0 auto 12px;
                    width: 50px;
                  ">
                <svg width="50px" height="50px" viewBox="0 0 60 60" version="1.1" xmlns="https://www.w3.org/2000/svg"
                  xmlns:xlink="https://www.w3.org/1999/xlink">
                  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g transform="translate(-511.000000, -20.000000)" fill="#000000">
                      <g>
                        <path
                          d="M556.869,30.41 C554.814,30.41 553.148,32.076 553.148,34.131 C553.148,36.186 554.814,37.852 556.869,37.852 C558.924,37.852 560.59,36.186 560.59,34.131 C560.59,32.076 558.924,30.41 556.869,30.41 M541,60.657 C535.114,60.657 530.342,55.887 530.342,50 C530.342,44.114 535.114,39.342 541,39.342 C546.887,39.342 551.658,44.114 551.658,50 C551.658,55.887 546.887,60.657 541,60.657 M541,33.886 C532.1,33.886 524.886,41.1 524.886,50 C524.886,58.899 532.1,66.113 541,66.113 C549.9,66.113 557.115,58.899 557.115,50 C557.115,41.1 549.9,33.886 541,33.886 M565.378,62.101 C565.244,65.022 564.756,66.606 564.346,67.663 C563.803,69.06 563.154,70.057 562.106,71.106 C561.058,72.155 560.06,72.803 558.662,73.347 C557.607,73.757 556.021,74.244 553.102,74.378 C549.944,74.521 548.997,74.552 541,74.552 C533.003,74.552 532.056,74.521 528.898,74.378 C525.979,74.244 524.393,73.757 523.338,73.347 C521.94,72.803 520.942,72.155 519.894,71.106 C518.846,70.057 518.197,69.06 517.654,67.663 C517.244,66.606 516.755,65.022 516.623,62.101 C516.479,58.943 516.448,57.996 516.448,50 C516.448,42.003 516.479,41.056 516.623,37.899 C516.755,34.978 517.244,33.391 517.654,32.338 C518.197,30.938 518.846,29.942 519.894,28.894 C520.942,27.846 521.94,27.196 523.338,26.654 C524.393,26.244 525.979,25.756 528.898,25.623 C532.057,25.479 533.004,25.448 541,25.448 C548.997,25.448 549.943,25.479 553.102,25.623 C556.021,25.756 557.607,26.244 558.662,26.654 C560.06,27.196 561.058,27.846 562.106,28.894 C563.154,29.942 563.803,30.938 564.346,32.338 C564.756,33.391 565.244,34.978 565.378,37.899 C565.522,41.056 565.552,42.003 565.552,50 C565.552,57.996 565.522,58.943 565.378,62.101 M570.82,37.631 C570.674,34.438 570.167,32.258 569.425,30.349 C568.659,28.377 567.633,26.702 565.965,25.035 C564.297,23.368 562.623,22.342 560.652,21.575 C558.743,20.834 556.562,20.326 553.369,20.18 C550.169,20.033 549.148,20 541,20 C532.853,20 531.831,20.033 528.631,20.18 C525.438,20.326 523.257,20.834 521.349,21.575 C519.376,22.342 517.703,23.368 516.035,25.035 C514.368,26.702 513.342,28.377 512.574,30.349 C511.834,32.258 511.326,34.438 511.181,37.631 C511.035,40.831 511,41.851 511,50 C511,58.147 511.035,59.17 511.181,62.369 C511.326,65.562 511.834,67.743 512.574,69.651 C513.342,71.625 514.368,73.296 516.035,74.965 C517.703,76.634 519.376,77.658 521.349,78.425 C523.257,79.167 525.438,79.673 528.631,79.82 C531.831,79.965 532.853,80.001 541,80.001 C549.148,80.001 550.169,79.965 553.369,79.82 C556.562,79.673 558.743,79.167 560.652,78.425 C562.623,77.658 564.297,76.634 565.965,74.965 C567.633,73.296 568.659,71.625 569.425,69.651 C570.167,67.743 570.674,65.562 570.82,62.369 C570.966,59.17 571,58.147 571,50 C571,41.851 570.966,40.831 570.82,37.631">
                        </path>
                      </g>
                    </g>
                  </g>
                </svg>
              </div>
              <div style="padding-top: 8px">
                <div style="
                      color: #3897f0;
                      font-family: Arial, sans-serif;
                      font-size: 14px;
                      font-style: normal;
                      font-weight: 550;
                      line-height: 18px;
                    ">
                  Ver esta publicaci칩n en Instagram
                </div>
              </div>
              <div style="padding: 12.5% 0"></div>
              <div style="
                    display: flex;
                    flex-direction: row;
                    margin-bottom: 14px;
                    align-items: center;
                  ">
                <div>
                  <div style="
                        background-color: #f4f4f4;
                        border-radius: 50%;
                        height: 12.5px;
                        width: 12.5px;
                        transform: translateX(0px) translateY(7px);
                      "></div>
                  <div style="
                        background-color: #f4f4f4;
                        height: 12.5px;
                        transform: rotate(-45deg) translateX(3px)
                          translateY(1px);
                        width: 12.5px;
                        flex-grow: 0;
                        margin-right: 14px;
                        margin-left: 2px;
                      "></div>
                  <div style="
                        background-color: #f4f4f4;
                        border-radius: 50%;
                        height: 12.5px;
                        width: 12.5px;
                        transform: translateX(9px) translateY(-18px);
                      "></div>
                </div>
                <div style="margin-left: 8px">
                  <div style="
                        background-color: #f4f4f4;
                        border-radius: 50%;
                        flex-grow: 0;
                        height: 20px;
                        width: 20px;
                      "></div>
                  <div style="
                        width: 0;
                        height: 0;
                        border-top: 2px solid transparent;
                        border-left: 6px solid #f4f4f4;
                        border-bottom: 2px solid transparent;
                        transform: translateX(16px) translateY(-4px)
                          rotate(30deg);
                      "></div>
                </div>
                <div style="margin-left: auto">
                  <div style="
                        width: 0px;
                        border-top: 8px solid #f4f4f4;
                        border-right: 8px solid transparent;
                        transform: translateY(16px);
                      "></div>
                  <div style="
                        background-color: #f4f4f4;
                        flex-grow: 0;
                        height: 12px;
                        width: 16px;
                        transform: translateY(-4px);
                      "></div>
                  <div style="
                        width: 0;
                        height: 0;
                        border-top: 8px solid #f4f4f4;
                        border-left: 8px solid transparent;
                        transform: translateY(-4px) translateX(8px);
                      "></div>
                </div>
              </div>
              <div style="
                    display: flex;
                    flex-direction: column;
                    flex-grow: 1;
                    justify-content: center;
                    margin-bottom: 24px;
                  ">
                <div style="
                      background-color: #f4f4f4;
                      border-radius: 4px;
                      flex-grow: 0;
                      height: 14px;
                      margin-bottom: 6px;
                      width: 224px;
                    "></div>
                <div style="
                      background-color: #f4f4f4;
                      border-radius: 4px;
                      flex-grow: 0;
                      height: 14px;
                      width: 144px;
                    "></div>
              </div>
            </a>
            <p style="
                  color: #c9c8cd;
                  font-family: Arial, sans-serif;
                  font-size: 14px;
                  line-height: 17px;
                  margin-bottom: 0;
                  margin-top: 8px;
                  overflow: hidden;
                  padding: 8px 0 7px;
                  text-align: center;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                ">
              <a href="https://www.instagram.com/p/CSU6hqNKgc-/?utm_source=ig_embed&amp;utm_campaign=loading" style="
                    color: #c9c8cd;
                    font-family: Arial, sans-serif;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: normal;
                    line-height: 17px;
                    text-decoration: none;
                  " target="_blank">Una publicaci칩n compartida de Fruityeva游꺝 Business
                (@fruityeva)</a>
            </p>
          </div>
        </blockquote>
        <script async src="//www.instagram.com/embed.js"></script>
      </div>
    </div>
  </article>

  <article class="mt-28">
    <h3 class="mb-10 text-center text-4xl lg:text-6xl text-palette2-two font-bold underline">
      Youtube
    </h3>
    <div
      class="mb-20 grid grid-cols-1 xl:grid-cols-2 card sm:p-5 w-full md:w-3/5 lg:w-4/5 sm:gap-6 lg:gap-14 xl:gap-16 m-auto items-center">
      <div class="hidden sm:block m-auto">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/mNIZvUecwmo" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>

      <div class="mb-10 block sm:hidden m-auto">
        <iframe width="320" height="315" src="https://www.youtube.com/embed/mNIZvUecwmo" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>

      <div class="hidden sm:block m-auto">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/G0ulNrxcX50" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
    </div>
  </article>

  <footer class="bg-home2section bg-no-repeat bg-center backdrop-filter backdrop-blur-2xl backdrop-contrast-200">
    <div class="grid grid-cols-1 lg:grid-cols-2 self-center w-full lg:pl-20">
      <div class="mt-10">
        <ul class="flex lg:hidden gap-7 mt-2 lg:mt-10 justify-center">
          <li class="text-social-YouTube hover:opacity-40">
            <a href="https://www.youtube.com/channel/UCFdSji5trOHyOwu2ue-dZaA" target="_blank"><i
                class="fab fa-2x fa-youtube"></i></a>
          </li>
          <li class="text-social-Instagram hover:opacity-40">
            <a href="https://www.instagram.com/fruityeva/" target="_blank"><i class="fab fa-2x fa-instagram"></i></a>
          </li>
          <li class="text-black hover:opacity-40">
            <a href="https://mailchi.mp/a95b3196a58e/fruityeva" target="_blank"><i
                class="fab fa-2x fa-mailchimp"></i></a>
          </li>
          <li class="items-center flex hover:opacity-40">
            <a href=""><svg xmlns="http://www.w3.org/2000/svg" width="35" height="20" viewBox="0 0 45 16">
                <path
                  d="M6.562 7.312L2 11.826V1.788A.995.995 0 0 0 1 .8a.993.993 0 0 0-.999.988v12.42a.99.99 0 0 0 .998.986 1 1 0 0 0 .707-.287l5.575-5.51 5.577 5.512a1.003 1.003 0 0 0 1.413 0 .978.978 0 0 0 0-1.398l-5.575-5.51L14.27 2.49a.978.978 0 0 0 0-1.398 1.008 1.008 0 0 0-1.413 0l-6.27 6.202c-.005 0-.009.004-.012.008l-.013.012zm16.55 7.886a.993.993 0 0 1-1-.987V1.79a.994.994 0 0 1 1-.989c.55 0 .999.443.999.989v12.42a.993.993 0 0 1-1 .987zM36.718 2.779v11.432c0 .545.446.987.998.987.55 0 1-.44 1-.987V2.779h5.282A.995.995 0 0 0 45 1.791a.995.995 0 0 0-1-.989H31.434a.995.995 0 0 0-.998.989c0 .545.447.988.999.988h5.285-.001z" />
              </svg></a>
          </li>
        </ul>

        <ul class="hidden lg:flex gap-7 mt-2 lg:mt-10 justify-center">
          <li class="text-social-YouTube hover:opacity-40">
            <a href="https://www.youtube.com/channel/UCFdSji5trOHyOwu2ue-dZaA" target="_blank"><i
                class="fab fa-4x fa-youtube"></i></a>
          </li>
          <li class="text-social-Instagram hover:opacity-40">
            <a href="https://www.instagram.com/fruityeva/" target="_blank"><i class="fab fa-4x fa-instagram"></i></a>
          </li>
          <li class="text-black hover:opacity-40">
            <a href="https://mailchi.mp/a95b3196a58e/fruityeva" target="_blank"><i
                class="fab fa-4x fa-mailchimp"></i></a>
          </li>
          <li class="items-center flex hover:opacity-40">
            <a href=""><svg xmlns="http://www.w3.org/2000/svg" width="65" height="40" viewBox="0 0 45 16">
                <path
                  d="M6.562 7.312L2 11.826V1.788A.995.995 0 0 0 1 .8a.993.993 0 0 0-.999.988v12.42a.99.99 0 0 0 .998.986 1 1 0 0 0 .707-.287l5.575-5.51 5.577 5.512a1.003 1.003 0 0 0 1.413 0 .978.978 0 0 0 0-1.398l-5.575-5.51L14.27 2.49a.978.978 0 0 0 0-1.398 1.008 1.008 0 0 0-1.413 0l-6.27 6.202c-.005 0-.009.004-.012.008l-.013.012zm16.55 7.886a.993.993 0 0 1-1-.987V1.79a.994.994 0 0 1 1-.989c.55 0 .999.443.999.989v12.42a.993.993 0 0 1-1 .987zM36.718 2.779v11.432c0 .545.446.987.998.987.55 0 1-.44 1-.987V2.779h5.282A.995.995 0 0 0 45 1.791a.995.995 0 0 0-1-.989H31.434a.995.995 0 0 0-.998.989c0 .545.447.988.999.988h5.285-.001z" />
              </svg></a>
          </li>
        </ul>
        <h3 class="text-center font-textPrimary text-white font-bold underline pb-8 text-4xl pt-7">
          Fragen? <br />Kontaktiere mich
        </h3>

        <div class="text-center lg:hidden">
          <i class="pb-8 fa-3x text-palette-three shadow-lg fas fa-arrow-down"></i>
        </div>
        <div class="text-center hidden lg:block">
          <i class="pb-8 fa-3x text-palette-three shadow-lg fas fa-arrow-right"></i>
        </div>
      </div>
      <div class="mt-10 drop-shadow-lg max-w-lg p-3 flex w-full m-auto bg-palette2-six opacity-75 flex-col">
        <ul class="flex gap-10 flex-col text-left sm:w-5/6 align-middle m-auto self-center mb-5">
          <li class="btn mt-5 bg-palette2-three hover:bg-palette-three">
            <a href="mailto:evibuchi36@gmail.com">Email:evibuchi36@gmail.com</a>
          </li>
          <li>
            <a class="btn mt-5 bg-palette2-three hover:bg-palette-three"
              href="https://www.instagram.com/fruityeva/?hl=es" target="_blank">Instagram</a>
          </li>
        </ul>
      </div>
      <!-- <div class=" mt-10  drop-shadow-lg max-w-lg p-3 flex w-full m-auto bg-palette2-six  opacity-75 flex-col">
          
           <form action="../sendmail.php" method="POST" name="contacto" class="flex flex-col text-left sm:w-5/6 align-middle m-auto self-center mb-5">
        <label for="name">First Name</label>
        <input class="border border-gray-300 font-bold text-gray-500" required placeholder="Eva" name="name" type="text" pattern="[A-Za-z침칌치칠칤칩칰츼칄칈칍칔춹췈\s]+">
        <label for="email">Email Address</label>
        <input class="font-bold border border-gray-300 text-gray-500" placeholder="evibuchi36@gmail.com"
            name="txtemail" type="email" required>
            <input type="hidden" name="_next" value="http://www.fruityeva.com/public/thanks"> 
        <label for="subject">Subject</label>
        <input class="font-bold border border-gray-300 text-gray-500" placeholder="What's it about?" name="subject" id="subject" type="text" "[A-Za-z0-9침칌치칠칤칩칰츼칄칈칍칔춹췈()\s]+">
        <label for="message">Message</label>
        <textarea class="font-bold border border-gray-300 text-gray-500" required name="msg" id="message" cols="30"
            rows="5" placeholder="Write you Message" pattern="[A-Za-z0-9침칌치칠칤칩칰츼칄칈칍칔춹췈()\s]+" ></textarea>
        <input class="btn mt-5 bg-palette2-three hover:bg-palette-three" type="submit" value="Submit Message">
    </form>
        </div> -->
    </div>
    <div class="flex flex-wrap justify-evenly mt-5 text-center gap-2 overflow-hidden font-bold bg-black opacity-70">
      <div class="pl-2 lg:pl-0 flex gap-16 text-palette2 font-extrabold text-white">
        <a target="_blank" href="../pdf/Disclaimer_ Haftungsausschuss.pdf">Disclamer</a>
        <a target="_blank" href="../pdf/Datenschutzerkl칛rung.pdf">Datenschutzerkl칛rung</a>
        <a target="_blank" href="../pdf/AGB Vereinbarung.pdf">AGB Vereinbarung.</a>
      </div>

      <h4 class="hover:opacity-70 text-white">
        <a href="http//www.jdluis.com">Copyright @ 2021 - jdluis.com</a>
      </h4>
    </div>
  </footer>

  <!--SCRIPTS, JS---start---->
  <script src="../app/textAnimate.js"></script>
  <script src="../app/showNav.js"></script>
  <script src="../app/smoothScroll.js"></script>
  <script src="../app/navdrop.js"></script>
  <!--SCRIPTS, JS---finish-->
</body>

</html>