---
import LayoutDe from "../../layouts/Layout_de.astro";

import authorImg1 from "../../img/author/nice.jpg"
import authorImg2 from "../../img/author/evacomputer.jpg"
import papayaImg from "../../img/aboutFruit.jpeg"

---

<LayoutDe title="Uber">
  <div
    class="grid grid-cols-1 items-center w-5/6 m-auto lg:grid-cols-2 2xl:p-10"
  >
    <div class="m-10 ml-auto h-auto mr-auto w-4/6 sm:w-3/6 mt-32">
      <img
        class="w-full m-auto border shadow-2xl"
        src={authorImg1}
        alt="FruityEva"
      />
    </div>

    <div class="lg:mt-20 lg:ml-10 w-full lg:w-4/6 ml-auto mr-auto">
      <h2
        class="pt-20 text-5xl font-bold border-b-2 w-5/6 2xl:3/6 border-palette2-three mb-6"
      >
        Über mich
      </h2>
      <h4 class="text-palette2-text text-center text-2xl">
        "Wenn du das Leben deiner Träume kreieren willst, dann bist du hier an
        der richtigen Stelle!"
      </h4>
      <br />
      <p>
        Vor vielen Jahren hatte ich mit Essstörungen zu kämpfen. Ich versuchte
        endlos viele Diäten, um mein Wohlbefinden wiederzugewinnen.
      </p>
      <br />
      <h4 class="text-palette2-text text-center text-2xl">
        Keine Diät funktionierte wirklich und ich hatte es satt!
      </h4>
      <br />
      <p>
        Ich war bereit, Diäten hinter mir zu lassen und meine Gewohnheiten und
        mein Leben langfristig und nachhaltig zum Positiven zu verändern.
      </p>
      <br />
      <h4 class="text-palette2-text text-center text-2xl">
        “Das Leben ist schön und ich war bereit das zu erkennen!”
      </h4>
      <br />
    </div>
  </div>
  <div class="m-auto text-center">
    <i class="fas fa-4x text-palette-three fa-caret-down"></i>
  </div>

  <div class="grid grid-cols-1 lg:grid-cols-2 p-10 lg:p-20 items-center">
    <div class="p-4 w-full lg:w-4/6 ml-auto mr-auto">
      <h2
        class="text-5xl font-bold border-b-2 w-5/6 lg:w-3/6 border-palette2-three mb-6"
      >
      </h2>
      <p>
        ​Ich wollte "JA!" zu meinen Träumen sagen! Einen veganen und später
        einen obst-basierten Lebensstil zu beginnen, hat mein ganzes Leben
        verändert (Beziehungen, Geld und die Länder, in denen ich lebe). Es hat
        mir erlaubt, mein authentisches Selbst zu sein und Kontrolle über meine
        Gesundheit und Leben zurückzunehmen. Ich begann, mich unglaublich gut zu
        fühlen und so viel verbesserte sich zum Besseren.
      </p>
      <br />
      <h4 class="text-palette2-text text-center text-2xl">
        "Durch meine Ernährungsumstellung fühle ich mich bereit, meinen Träumen
        nachzugehen."
      </h4>
      <br />
      <p>
        Ich liebe es, zu sehen wie sich das Leben und die Gesundheit von
        Menschen verändert, nachdem sie auf eine obst-basierte vegane Ernährung
        umstellen. Es ist immer wieder erstaunlich, wie schnell und leicht
        Menschen abnehmen, wie sich die Haut verbessert.
      </p>
      <br />
      <h4 class="text-palette2-text text-center text-2xl">
        "All das ist auch für dich möglich! Und ich zeige dir wie."
      </h4>
      <br />
    </div>

    <div class="lg:m-5 m-auto w-full sm:w-3/6 lg:w-4/6 border-2 shadow-2xl">
      <img class="w-full" src={authorImg2} alt="FruityEva" />
    </div>
  </div>

  <div class="m-auto text-center">
    <i class="fas fa-4x text-palette-three fa-caret-down"></i>
  </div>

  <div
    class="grid grid-cols-1 lg:grid-cols-2 gap-5 w-5/6 lg:w-4/6 m-auto text-cente"
  >
    <div class="hidden lg:block m-auto lg:w-5/6 text-center p-5 self-end">
      <img
        class="border-2 shadow-2xl w-full"
        src={papayaImg}
        alt="Papaya Fruit"
      />
    </div>
    <ul
      class="flex border shadow-xl m-1 border-palette2-three flex-col gap-2 text-left text-xl p-5 mb-5 leading-5 mt-10"
    >
      <h3 class="text-3xl pb-10 underline">5 Fakten über mich:</h3>
      <li class="pb-5">
        <p class="font-bold">1. Was ist mein Sternzeichen?</p>
        Zwilling
      </li>
      <li class="pb-5">
        <p class="font-bold">2. Wie würde ich mich beschreiben?</p>
        Lustig, gutherzig, zielstrebig
      </li>
      <li class="pb-5">
        <p class="font-bold">3. Mein Lieblingslied?</p>
        Circles von Post Malone
      </li>
      <li class="pb-5">
        <p class="font-bold">4. Was ist mein liebstes Hobby?</p>
        Tanzen
      </li>
      <li class="pb-5">
        <p class="font-bold">5. Wichtigste Nachricht?</p>
        Werde obst-basiert vegan.
      </li>
    </ul>
  </div>
</LayoutDe>
