---
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
import { ver, ocultar } from "../utils/navdrop";

interface Props {
  title: string;
  isIndex: boolean;
}

const { title, isIndex } = Astro.props;

const basePath = isIndex ? "/" :  "/en/";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="title" content="Fruity Eva" />
    <meta
      name="description"
      content="Helping you to improve your health with a fruit-based vegan diet."
    />
    <meta name="keywords" content="fruit, vegan, diet" />
    <meta name="robots" content="index, follow" />
    <meta name="language" content="English" />
    <meta name="author" content="jdluis.com" />
    <base href={basePath} />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />

    <!--Styles-->
    <link rel="stylesheet" href="/src/style.css" />

    <script
      src="https://kit.fontawesome.com/3ffbeed2f4.js"
      crossorigin="anonymous"></script>

    <style>
      /*Aside Hover Nav*/
      .ahover {
        border-bottom: 2px solid #f46f72;
        width: 0;
        transition: ease-in;
      }

      .ahover:hover {
        width: 80%;
        transition-duration: 0.3s;
      }

      /*textAnimate STYLES*/
      span {
        opacity: 0;
        transition: all 4s ease;
      }

      span.fade {
        opacity: 1;
      }
    </style>
  </head>
  <body>
    <Nav />
    <slot />
    <Footer />
  </body>

  <script is:inline src="/utils/showNav.js"></script>
  <script is:inline src="/utils/smoothScroll.js"></script>
  <script is:inline src="/utils/textAnimate.js"></script>

  <!-- Swiper JS -->
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script>
    import Swiper from "swiper";
    // import Swiper styles
    import "swiper/css";
    var swiper = new Swiper(".mySwiper", {
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });
  </script>
</html>
